body{
    text-align: center;
    background-color: #5e332b;
    color: white;
    height:90%;
}
h1{
    font-size: 60px;
}
#bookcase{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    border: solid black;
    border-radius: 20px;
    width: 80%;
    min-height: 600px;
    margin: 0 auto;
    flex-wrap: wrap-reverse;
    padding:20px 0;
    gap:20px;
}
.book{
    display:flex;
    flex-direction: column;
    border: solid black;
    height:fit-content;
    min-height: 100px;
    max-height: 250px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    word-wrap: inherit;
    text-align:left;
    border-radius: 10px;
    padding:10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.title{
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.pages, .read, .open{
    display: none;
}

.removeButton{
    display: none;
    color:black;
    background: white;
    border-radius: 3px;
    height:fit-content;
}